/* styles.css */

/* CSS cho danh mục */
.category-card {
    background-size: contain; /* Giữ tỷ lệ ảnh nền */
    background-position: center;
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
    height: 250px; /* Điều chỉnh chiều cao của khung */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px; /* Giảm kích thước bên trong */
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}

/* Thêm hiệu ứng hover */
.category-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007bff; /* Màu khung khi hover */
}

.category-card h5 {
    margin: 0;
    color: white; /* Đổi màu chữ để nổi bật trên ảnh nền */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Căn chỉnh chiều cao cố định cho mỗi thẻ */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title-container {
    padding: 5px; /* Giảm padding để nội dung không quá lớn */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Đặt nền tối cho tên category */
    color: white;
}

/* CSS cho sản phẩm */
.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-img {
    width: 100%; /* Đảm bảo chiều rộng ảnh luôn chiếm 100% khung hình */
    height: 250px; /* Chiều cao cố định cho ảnh sản phẩm */
    object-fit: contain; /* Giữ tỷ lệ ảnh mà không bị cắt */
    object-position: center; /* Ảnh sẽ được căn giữa */
    background-color: #f8f9fa; /* Tạo nền màu để hiển thị khoảng trắng nếu ảnh không khớp tỷ lệ */
}

.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-card-body .btn-group {
    display: flex;
    justify-content: space-between;
}

.product-description {
    font-size: 14px;
    color: #6c757d;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}
